* {
    padding: 0;
    margin: 0;
    font-family: 'Handlee', cursive;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background-image: url(image/background.jpg);
    background-size: cover;
}
.grid {
    height: 520px;
    width: 520px;
    display: flex;
    flex-wrap: wrap;
    background-color: #785e7b;
    box-shadow: 0px 0px 0px 0.1px rgb(0, 0, 0);
    margin-top: 25px;
}

.grid div {
    height: 65px;
    width: 65px;
    background-size: cover;
    box-shadow: inset 0px 0px 0px 0.1px rgb(0, 0, 0);
}
.score-board {
    background-image: url(image/ScoreBoard.svg);
    background-size: cover;
    width: 325px;
    height: 100vh;
}
#score {
    position: relative;
    left: 50%;
    top: 32%;
    transform: translate(-7%, -75%);
    font-size: 40px;
}
#countdown {
    position: relative;
    left: 135px;
    top: 50px;
}

#death-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: -999;
}
#death-screen a {
    color: #fff;
    text-decoration: none;
}
#death-screen h2 {
    font-size: 100px;
}
#death-screen .btn {
    font-size: 20px;
    padding: 10px 20px;
    width: 100px;
    background-color: #3f3f3f;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}
#death-screen .btn:hover {
    cursor: pointer;
    background-color: #4d4d4d;
}
/* start menu */

.start-box {
    width: 100%;
    height: 100vh;
    background-color: #785e7b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("image/background.jpg");
    background-size: cover;
}
.start-box h1 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 75px;
    text-shadow: -1px -1px 0 #2c2c2c, 1px -1px 0 #2c2c2c, -1px 1px 0 #2c2c2c, 1px 1px 0 #2c2c2c;
}
.start-box a{
    text-decoration: none;
}
.start-box .btn {
    padding: 25px 40px;
    width: 150px;
    background-color: #fff;
    text-align: center;
    margin: 10px;
    font-size: 23px;
    transition: 0.2s;
    text-decoration: none;
    color: #2c2c2c;
}
.start-box .btn:hover {
    background-color: #2c2c2c;
    color: #fff;
    cursor: pointer;
}