.box {
  width: 600px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box .stBtn {
  width: 100px;
  height: 50px;
  margin-top: 10px;
  background-color: antiquewhite;
  text-align: center;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 5px;
  margin: 50px auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.cell {
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#score {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

#timer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.selected {
  border: 3px solid #ff0;
  box-sizing: border-box;
}
.cell.swapping {
  transition: background-color 0.2s ease-in-out;
}